

<h1>Welcome to StanleyEats</h1>
<p>An avid eater, Stanley loves to try restaurants and share his experiences.
StanleyEats strives to bring fellow eaters together and discover hidden gems across the globe.
Write a review today and become a part of history! Checkout Stanley's Yelp 
profile <a href="https://www.yelp.com/stanleyisyoung">here</a></p>
